force-app/main/default/flows/IoT_Case_Creator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>DEBUG</name>
        <label>DEBUG</label>
        <locationX>104</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>varDevice.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDeviceID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Open_Cases_For_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Holding_Case</name>
        <label>Define Holding Case</label>
        <locationX>487</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>varCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDevice.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.Device_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDevice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto-created Holder Case For First Signal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Holding_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ESCALATE_DA_CASE_INTO_REAL</name>
        <label>ESCALATE DA CASE INTO REAL</label>
        <locationX>645</locationX>
        <locationY>744</locationY>
        <assignmentItems>
            <assignToReference>varCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CONFIRMED ERROR ALL HANDS ON DECK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Meh_update_but_like_meh</name>
        <label>Meh, update but like meh.</label>
        <locationX>516</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>varCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non paying problem happening</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>599</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>varUpdateCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Existing_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Any_Open_Cases</name>
        <label>Check For Any Open Cases</label>
        <locationX>287</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>Define_Holding_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open Cases</defaultConnectorLabel>
        <rules>
            <name>Open_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAlreadyOpenCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Existing_Cases</targetReference>
            </connector>
            <label>Open Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_they_pay_us_tho</name>
        <label>Do they pay us tho?</label>
        <locationX>548</locationX>
        <locationY>594</locationY>
        <defaultConnector>
            <targetReference>Meh_update_but_like_meh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope, they deadbeats</defaultConnectorLabel>
        <rules>
            <name>Yeah_they_payin_us</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDevice.Valid_Support_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ESCALATE_DA_CASE_INTO_REAL</targetReference>
            </connector>
            <label>Yeah they payin us</label>
        </rules>
    </decisions>
    <interviewLabel>IoT Case Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IoT Case Creator</label>
    <loops>
        <name>Loop_Through_Existing_Cases</name>
        <label>Loop Through Existing Cases</label>
        <locationX>296</locationX>
        <locationY>660</locationY>
        <assignNextValueToReference>varCase</assignNextValueToReference>
        <collectionReference>varAlreadyOpenCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Do_they_pay_us_tho</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_cases_to_become_real</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Holding_Case</name>
        <label>Insert Holding Case</label>
        <locationX>663</locationX>
        <locationY>457</locationY>
        <inputReference>varCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Open_Cases_For_Asset</name>
        <label>Find Open Cases For Asset</label>
        <locationX>171</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Full_Device_Record</targetReference>
        </connector>
        <filters>
            <field>Device_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDevice.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Confirmation</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varAlreadyOpenCases</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>I think it only gives me the ID. Silly.</description>
        <name>Get_Full_Device_Record</name>
        <label>Get Full Device Record</label>
        <locationX>295</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Any_Open_Cases</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDevice.Id</elementReference>
            </value>
        </filters>
        <object>Device_Asset__c</object>
        <outputReference>varDevice</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Valid_Support_Contract__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_cases_to_become_real</name>
        <label>Update cases to become real</label>
        <locationX>298</locationX>
        <locationY>864</locationY>
        <inputReference>varUpdateCases</inputReference>
    </recordUpdates>
    <startElementReference>DEBUG</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAlreadyOpenCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varDevice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Device_Asset__c</objectType>
    </variables>
    <variables>
        <name>varDeviceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a01f0000007sbRYAAY</stringValue>
        </value>
    </variables>
    <variables>
        <description>Device Event record being sent that kicks this puppy off.</description>
        <name>varIncomingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Device_Event__e</objectType>
    </variables>
    <variables>
        <description>List for updates</description>
        <name>varUpdateCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
